
.item-text {
  float: left;
  display: block;
  margin: 5px auto 5px auto;
  max-width: 80%;
  white-space: pre-wrap;
  word-break: break-all;
}
.button {
  font-size: 13pt;
  float: right;
  color: white;
  border: 0;
  border-radius: 7px;
  width: 80px;
  height: 30px;
  margin: auto;
}

.button-delete {
  background-color: #da5656;
}
