<div class="container">
  <mat-spinner [class.hide]="!isLoading"></mat-spinner>
  <mat-card class="to-do-list-card" [class.hide]="isLoading">
    <mat-card-title class="title">ToDo List</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let item of items">
        <app-to-do-list-item [item]="item" (deleteItemEvent)="deleteItem($event)"></app-to-do-list-item>
      </mat-list-item>
    </mat-list>

    <mat-form-field class="form-field">
      <mat-label>Add your new task</mat-label>
      <input class="input" matInput type="text" [(ngModel)]="itemText">
      <app-button title="Add"
                            [styles]="['button', 'button-add']"
                            [isDisabled]="isInputEmpty()"
                            (click)="addItem(itemText)"
      ></app-button>
    </mat-form-field>

  </mat-card>
</div>


