.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.to-do-list-card {
  min-width: 500px;
  min-height: 330px;
  flex: 1;
  background: #eee7de;
  box-shadow: 0 0 10px 5px darkgray;

  .title {
    text-align: center;
    font-family: "American Typewriter", serif;
  }

  .item {
    cursor: pointer;
    background: #c9c4c4;
    max-width: 90%;
    min-height: 50px;
    margin: auto auto 15px;
    border-radius: 5px;
    height: fit-content;
  }

  .item:hover {
    background: #dcd7a9;
  }
}

.form-field {
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

input {
  max-width: 80%;
}

.hide {
  display: none;
}
.filter {
  margin: auto;
}

