<app-toast></app-toast>
<div class="wrap">
  <app-spinner [isLoading]="isLoading"></app-spinner>
  <mat-card class="to-do-list-card" [class.hide]="isLoading">
    <mat-card-title class="title">ToDo List</mat-card-title>
    <ng-container *ngIf="items$">
      <mat-button-toggle-group name="taskFilter" aria-label="Task Filter" class="filter">
        <mat-button-toggle value="All" (click)="setFilter(null)">All</mat-button-toggle>
        <mat-button-toggle value="Completed" (click)="setFilter(Status.COMPLETED)">Completed</mat-button-toggle>
        <mat-button-toggle value="Active" (click)="setFilter(Status.IN_PROGRESS)">Active</mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
    <app-to-do-list-item *ngFor="let item of items$ | async | filterByItemStatus:selectedFilter"
                         [item]="item"
                         [selectedId]="selectedId"
                         (deleteItemEvent)="deleteItem($event)"
                         (updateItemEvent)="updateItem($event)"
                         (changeStatusEvent)="updateItem($event)"
    >
    </app-to-do-list-item>

    <app-todo-create-item [index]="getNextId()"
                          (save)="addItem($event)"
    >
    </app-todo-create-item>
  </mat-card>
  <router-outlet></router-outlet>
</div>
