<mat-spinner [class.hide]="!isLoading"></mat-spinner>
<mat-card class="to-do-list-card" [class.hide]="isLoading">
  <mat-card-title class="title">ToDo List</mat-card-title>
  <mat-list>

    <mat-list-item class="item"
                   *ngFor="let item of getItems()"
                   (dblclick)="editItem(item)"
                   [ngClass]="{ 'selected': item.id === selectedItemId}">
      <ng-container *ngIf="!editingItem || editingItem !== item">
        <app-to-do-list-item
          (click)="selectItem(item.id)"
          [item]="item"
          (deleteItemEvent)="deleteItem($event)"
        ></app-to-do-list-item>
      </ng-container>
      <ng-container *ngIf="editingItem === item">
        <mat-form-field class="form-field">
          <input class="input" matInput type="text" [(ngModel)]="item.text">
          <app-button title="Save"
                      [styles]="['button', 'button-update']"
                      (click)="updateItem(item.id, item.text); showInfoToast('INFO', 'Task was updated')"
                      [tooltipMessage]="'Update task'"
          ></app-button>
        </mat-form-field>
      </ng-container>
    </mat-list-item>
  </mat-list>

  <mat-form-field class="form-field">
    <mat-label>Add your new task</mat-label>
    <input class="input" matInput type="text" [(ngModel)]="itemText">
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="itemDescription"></textarea>
  </mat-form-field>
  <app-button title="Add"
              [styles]="['button', 'button-add']"
              [isDisabled]="isInputEmpty()"
              (click)="addItem(itemText, itemDescription); showInfoToast('INFO', 'New task was added')"
              [tooltipMessage]="'Add new task'"
  ></app-button>
</mat-card>
<mat-card class="description" [class.hide]="!selectedItemId">
  <button matTooltip="Close description" (click)="clearSelection()"
  ><mat-icon>close</mat-icon></button>
  <mat-card-content *ngIf="getItem(selectedItemId) as value" >{{value.description}}</mat-card-content>
</mat-card>


