.position-top-right {
  top: 2%;
  right: 2%;
}

.toast {
  background-color: bisque;
  width: 350px;
  position: absolute;

  .toast-grid {
    display: grid;
    grid-template-areas:
        'title btn-close'
        'message message';
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;

    .title{
      grid-area: title;
      padding: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .message {
      grid-area: message;
      padding: 3px;
      font-size: small;
      white-space: pre-wrap;
      word-break: break-all;
    }
    .btn-close{
      grid-area: btn-close;
    }
    .flexbox-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }


  }

}
