.button {
  font-size: 13pt;
  float: right;
  color: white;
  border: 0;
  border-radius: 7px;
  width: 80px;
  height: 30px;
  margin: auto;
}

.button-delete {
  background-color: #da5656;
}

.button-add {
  background-color: #3aa93a;
}

.button-disabled {
  opacity: 0.5;
}
